/* body{
    background-image: none !important;
    background-color: white !important;
}

html,body{
    height:100%;
    width:100%;
}

form {
    background-color: rgba(0,0,0,.5);
    padding: 10px;
    border-radius: 5px;
    color: white;
}
 */

 .dropdown{
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
 }

 .dropdown-toggle{
     padding: .2rem !important;
     background-color: white !important;
 }